:root {
    --main-color: #eee;
    --selected-color: #0d6efd;
    --selected-color-disabled: #4a6690;
    --border-color: #ccc;
    --background-color: #cfe2ff;
    --cancel-color: #a50000;
}

body {
    font-family: Arial, sans-serif;
    border: 1px solid var(--border-color);
    width: 800px;
    padding: 20px;
    margin: 50px auto;
    position: relative;
}

.window-title {
    font-weight: bold;
    margin: 0 0 10px;
}

form {
    margin-top: 20px;
}

.div {
    margin: 5px;
}

.input-group {
    width: 748px;
}

.show-pass, .autogenerate-pass{
    width: 40px;
}

.autogenerate-password-img {
    position: absolute;
    right: 47px;
    transform: translateY(-50%);
    transform: scaleX(-1);
    cursor: pointer;
    width: 25px;
}

.show-password-img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
}

#description {
    height: 100px;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.buttons button {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: var(--cancel-color);
    color: var(--main-color);
}

.save-btn {
    background-color: var(--selected-color);
    color: var(--main-color);
}

.save-btn:disabled {
    /* background-color: var(--selected-color-disabled); */
    color: var(--main-color);
}