:root {
    --main-color: #eee;
    --second-color: #0d6efd;
    --border-color: #ccc;
    --selected-color: #cfe2ff;
}

body {
    font-family: Arial, sans-serif;
    border: 1px solid var(--border-color);
    width: 800px;
    padding: 20px;
    margin: 50px auto;
    position: relative;
}

.window-title {
    font-weight: bold;
    margin: 0 0 10px;
}

.buttons {
    display: flex;
    margin-bottom: 10px;
}

.buttons button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    margin-right: 3px;
}

#add-category {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#add-site {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.buttons .active {
    background-color: var(--second-color);
    color: var(--main-color);
    font-weight: bold;
}

.categories-div {
    float: left;
    width: 25%;
    border: 1px solid var(--border-color);
}

.categories-div h3 {
    border-bottom: 1px solid var(--border-color);
    padding: 5px;
    margin: 0;
    text-align: center;
}

.categories-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories-list li {
    padding: 5px;
    cursor: pointer;
}

.categories-list .selected {
    background-color: var(--selected-color);
}

.categories-list .not-selected {
    background-color: "none";
}

.pass-list {
    float: right;
    width: 70%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid var(--border-color);
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--second-color);
    color: var(--main-color);
}

.actions img {
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.clear {
    clear: both;
}